@import "variables";

/*Sobre Mi*/

#sobreMi {
    background-color: $primario;
    color: $blanco;
    width: 100%;
    height: 100vh;
    padding-top: 15vh;
    #sobreMi__content {
        
    }
}


