@import "variables";

/*Contacto*/

#questions {
    color: $blanco;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('multimedia/fondo.jpg');
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    #questions__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15vh;
        background-color: $primario;
        width: 50%;
        height: 100vh;
        text-align: center;
        opacity: 0.8;
        #questions__sub__content{
            height: 60vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            h3{
                font-family: $fontImprenta;
                font-size: 1.6vw;
            }
            h4{
                font-family: $fontCursiva;
                font-size: 1.6vw;
            }
        }
    }
}