$primario: #779ECB;
$secundario: #E0BFAF;
$terciario: #737373;
$negro: black;
$blanco: white;
@font-face {
  font-family: 'Bungee';
  src: url('fonts/Bungee-Regular.woff') format('woff'),
      url('fonts/Bungee-Regular.svg#Bungee-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'WC Mano Negra Bta';
  src: url('WCManoNegraBta.woff') format('woff'),
      url('WCManoNegraBta.svg#WCManoNegraBta') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


$fontCursiva: 'WC Mano Negra Bta';
$fontImprenta: 'Bungee';